@using NWebsec.Mvc.HttpHeaders.Csp
@{
    ViewBag.Title = "HandleBar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HandleBar</h2>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js" integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script @Html.CspScriptNonce()>
  // compile the template
  var template = Handlebars.compile("Handlebars <b>{{doesWhat}}</b>");
  // execute the compiled template and print the output to the console
  console.log(template({ doesWhat: "rocks!" }));
    </script>
}