@using NWebsec.Mvc.HttpHeaders.Csp
@{
    ViewBag.Title = "Mustache";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mustache</h2>
<div id="target">Loading...</div>
<script id="template" type="x-tmpl-mustache">
    Hello {{ name }}!
    {{#attendees}}
    <li>
        {{Name}} {{Surname}}
        {{#speaker}}
        (<font color="red">speaks</font>)
        {{/speaker}}
        {{^speaker}}
        (attendee)
        {{/speaker}}
        {{#phones}}
        <br />
        <em>{{.}}</em>
        {{/phones}}
    </li>
    {{/attendees}}
</script>
@section scripts{    
    <script src="~/Scripts/mustache4.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.2.0/mustache.min.js" integrity="sha512-CswfmQmJj8DXhm29Qc5eLk5//2EW1CaI6de+RmRhSrWrXRhkBQ3795tuwJvT6DK6EF4IVqJIRmBg8EokL6c87g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@
    <script @Html.CspScriptNonce()>
        //var Mustache = require('mustache');
        renderHello();

        // file: render.js

        function renderHello() {
            var template = document.getElementById('template').innerHTML;
            var attendees = [
                { Name: "Hajan", Surname: "Selmani", speaker: true, phones: [070555555, 071888999, 071222333] },
                { Name: "Someone", Surname: "Surname", phones: [070555555, 071222333] },
                { Name: "Third", Surname: "Thirdsurname", phones: [070555555, 071888999, 071222333] },
            ];
            var value = {
                name: 'Luke',
                attendees: attendees
            }
            var rendered = Mustache.render(template, value);
            document.getElementById('target').innerHTML = rendered;
        }
    </script>
}
