
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>
<div id="test1"></div>
<div id="test2"></div>
@section scripts{
    <script type="text/javascript">
        var testMessage = "Hello World";
        console.log(testMessage);
        $('#test1').html(testMessage);
    </script>
    <script nonce="2726c7f26c">
        var inline = 1;
        console.log(inline);
        $('#test2').html(inline);
    </script>
}