@using NWebsec.Mvc.HttpHeaders.Csp
@{
    ViewBag.Title = "Test2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test2</h2>
<iframe src="/Home/Test" title="Google API" style="width: 768px; height: 500px;"></iframe>
@section scripts{
    <script type="text/javascript" >
        console.log('Test 2');
    </script>
}